@import "base.css";
@import "header.css";
@import "footer.css";
@import "items.css";
@import "chemical.css";
@import "popular.css";
@import "home.css";
@import "delivery.css";
@import "cart.css";
@import "order.css";
.content{
    margin-top: 25px;
}
.title{
    font-size: 35px;
}
.subtitle{
    font-size: 20px;
    font-weight: 600;
}
.wrapper-content{
    padding-bottom: 100px;
}
.carousel__prev, .carousel__next{
    background: none;
}
.cart-btn{
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    background: #ff9933;
    color: #fff;
    padding: 7px 14px;
    cursor: pointer;
}
.cart-btn:hover{
    color: #000;
}